<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
      @import url(https://fonts.googleapis.com/css?family=Open+Sans);
      .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="search">
        <form action="word">
          <input type="text" name="search" class="searchTerm" placeholder="Input Your Word Here" />
          <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </body>
</html>
